%h2 Login

= form_tag '/login', { :class => 'login-page' } do
	%p
		= label_tag :email
		= text_field_tag :email, nil, :placeholder => 'Email'
	%p
		= label_tag :password
		= password_field_tag :password, nil, :placeholder => 'Password'

	= submit_tag 'Login to Waitr'