%h1 User Registration Page

- if @user.errors.any?
	%ol
		- @user.errors.full_messages.each do |msg|
			%li= msg

= form_for @user do |f|
	%p
		= f.label :email
		= f.email_field :email, :required => true
	%p
		= f.label :first_name
		= f.text_field :first_name, :required => true
	%p
		= f.label :last_name
		= f.text_field :last_name
	%p
		= f.label :password
		= f.password_field :password, :required => true
	%p
		= f.label :password_confirmation
		= f.password_field :password_confirmation, :required => true
	= f.submit