%h1 User Profile Page

%p= "Name: #{ @user.first_name } #{ @user.last_name }"
%p= "Email: #{ @user.email }"

%h2 Your Orders
%div{:class => "order-list"}
	- @user.orders.each do |order|
		%li= link_to("Order ##{ order.id } Progress: #{ order.progress }", order_path(order))
 

