.user-profile
	%h1 Your Profile
	.profile-card
		.profile-header 
			%h2=	"#{ @user.first_name } #{ @user.last_name }"
	
		.profile-body
			%img{ :src => "#{ @user.image }", :class => 'user-profile-image'}
			%p= "Email: #{ @user.email }"

			%h2 Your Orders
			%ul{:class => "order-list"}
				- @orders.each do |order|
					%li= link_to("Order ##{ order.id } Progress: #{ order.progress }", order_path(order),{ :class => "user-orders #{ order.class_for_progress(order) }" })
			 