%h1 List of all the damn orders (for shop)

- @orders.each do |order|
	.order-card
		.order-header{ :class => "#{ order.class_for_progress(order) }" }
			%h2= link_to("Order #{ order.id }", order_path(order))
			%h2{ :class => "progress" }= "#{ order.progress.capitalize }"
		.order-body
			%p= "Customer: #{ order.user.first_name } #{ order.user.last_name }"
			- order.items.each do |item|
				%li= link_to("#{ item.name }: #{ number_to_currency item.price }", item_path(item.id))
			%p= "Total: #{ number_to_currency order.total }"
			
			.card-actions
				= form_for order do |f|
					= f.select :progress, Order.progresses.keys
					= f.submit "Update Progress"
				= button_to("Remove Order", order_path(order), :method => 'delete', :data => { :confirm => "Are you sure you want to delete Order ##{ order.id }?" }, :class => 'danger')


