%h1= "Order ##{ @order.id }"
%h2= "Progress: #{ @order.progress }"

%h3 Items ordered: 

- @order.items.each do |item|
	%li= link_to("#{ item.name }: #{ number_to_currency item.price }", item_path(item.id), :target => "_blank")

%p= "Total Cost: #{ number_to_currency @order.total }"

= button_to("Cancel/Delete Order", order_path(@order), :method => "delete", :data => { :confirm => "Are you sure you want to delete Order ##{ @order.id }"}, :class => 'danger order-delete')

- if @current_user == @order.user
	= link_to("Return to profile", user_path(@current_user), :class => 'pill')